*{ 
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #FFF8D9;
  height: 100vh;
}

.welcome-header{ 
  padding: 40px;
  margin-bottom: 20px;
  background-color: #EBA83A;
  border: 10px solid #BB371A;
  box-shadow: 0px 1px 5px 0px #777;
}

.instructions-button{ 
  background-color: #D5DBB3 !important;
  margin-right: 10px;
  color: black !important;
  text-transform: uppercase;
  border: none !important;
  box-shadow: 0px 1px 5px 0px #777;
}

.start-button{ 
  background-color: #BB371A !important;
  border: none !important;
  padding-right: 45px !important;
  padding-left: 45px !important;
  box-shadow: 0px 1px 5px 0px #777;
}
